border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body div
  font 12px Helvetica, Arial, sans-serif

a.button
  border-radius 5px

@import 'vendor'

body
  font 12px Helvetica, Arial, sans-serif

.button
  border-radius 5px

fonts = helvetica, arial, sans-serif

sum(nums...)
  sum = 0
  sum += n for n in nums

sum(1 2 3 4)
// => 10
