<div id="outline">
    <div id="outline-header">
        <div id="outline-buttons">
            <button id="outline-settings" class="outline-button btn-alt-quiet" type="button" title="{{Strings.BUTTON_SETTINGS}}"></button>
            <button id="outline-move" class="outline-button btn-alt-quiet" type="button" title="{{Strings.BUTTON_MOVE}}"></button>
            <button id="outline-close" class="outline-button btn-alt-quiet" type="button" title="{{Strings.BUTTON_CLOSE}}"></button>
        </div>
        <span>{{Strings.HEADER_TITLE}}</span>
    </div>
    <div id="outline-list">
        <ul></ul>
    </div>
</div>
